<div>
    <!-- Sidebar -->
    <div class="sidebar" >
      <div class="sidebar-brand">
        <span>DeliveryShop</span>
      </div>
      <div class="margin">

      </div>

      <a (click)="goToHome()" class="icon-text-link">
        <div class="icon-text">
          <mat-icon class="icon">home_outlined</mat-icon>
          <span class="text">Panel de control</span>
        </div>
      </a>

      <div class="subtitle">
        <label>Usuarios</label>
      </div>

      <a (click)="goToEmployess()" class="icon-text-link">
        <div class="icon-text">
          <mat-icon class="icon">group</mat-icon>
          <span class="text">Empleados</span>
        </div>
      </a>

      <div class="subtitle">
        <label>Administrador</label>
      </div>

      <a (click)="goToCategory()"  class="icon-text-link">
        <div class="icon-text">
          <mat-icon class="icon">category</mat-icon>
          <span class="text">Categorias</span>
        </div>
      </a>

      <a (click)="goToProducts()" class="icon-text-link">
        <div class="icon-text">
          <mat-icon class="icon">lunch_dining</mat-icon>
          <span class="text">Productos</span>
        </div>
      </a>

      <a (click)="goToInventory()" class="icon-text-link">
        <div class="icon-text">
          <mat-icon class="icon">inventory_2</mat-icon>
          <span class="text">Inventario</span>
        </div>
      </a>

      <a (click)="goTooffers()" class="icon-text-link">
        <div class="icon-text">
          <mat-icon class="icon">local_offer</mat-icon>
          <span class="text">Ofertas</span>
        </div>
      </a>

      <a (click)="goToOrders()" class="icon-text-link">
        <div class="icon-text">
          <mat-icon class="icon">receipt_long</mat-icon>
          <span class="text">Ordenes</span>
        </div>
      </a>

      <div class="subtitle">
        <label>Informes</label>
      </div>

      <a (click)="goToReports()" class="icon-text-link">
        <div class="icon-text">
          <mat-icon class="icon">description</mat-icon>
          <span class="text">Reportes</span>
        </div>
      </a>

      <a (click)="goToDeposit()" class="icon-text-link">
        <div class="icon-text">
          <mat-icon class="icon">attach_money</mat-icon>
          <span class="text">Ingresos</span>
        </div>
      </a>

      <a (click)="goToWithdraw()" class="icon-text-link">
        <div class="icon-text">
          <mat-icon class="icon">account_balance_wallet</mat-icon>
          <span class="text">Retiros</span>
        </div>
      </a>
     
      
    </div>

    <div class="overlay" *ngIf="sidebarVisible" (click)="closeSidebar()">

    <div class="sidebar2" [class.show]="sidebarVisible">
      <div class="sidebar2-content">
        <div class="sidebar-brand">
          <span>DeliveryShop</span>
        </div>
        <div class="margin">
  
        </div>
  
        <a (click)="goToHome()" class="icon-text-link">
          <div class="icon-text">
            <mat-icon class="icon">home_outlined</mat-icon>
            <span class="text">Panel de control</span>
          </div>
        </a>
  
        <div class="subtitle">
          <label>Usuarios</label>
        </div>
  
        <a (click)="goToEmployess()" class="icon-text-link">
          <div class="icon-text">
            <mat-icon class="icon">group</mat-icon>
            <span class="text">Empleados</span>
          </div>
        </a>
  
        <div class="subtitle">
          <label>Administrador</label>
        </div>
  
        <a (click)="goToCategory()" class="icon-text-link">
          <div class="icon-text">
            <mat-icon class="icon">category</mat-icon>
            <span class="text">Categorias</span>
          </div>
        </a>
  
        <a (click)="goToProducts()" class="icon-text-link">
          <div class="icon-text">
            <mat-icon class="icon">lunch_dining</mat-icon>
            <span class="text">Productos</span>
          </div>
        </a>
  
        <a (click)="goToInventory()" class="icon-text-link">
          <div class="icon-text">
            <mat-icon class="icon">inventory_2</mat-icon>
            <span class="text">Inventario</span>
          </div>
        </a>
  
        <a (click)="goTooffers()" class="icon-text-link">
          <div class="icon-text">
            <mat-icon class="icon">local_offer</mat-icon>
            <span class="text">Ofertas</span>
          </div>
        </a>
  
        <a (click)="goToOrders()" class="icon-text-link">
          <div class="icon-text">
            <mat-icon class="icon">receipt_long</mat-icon>
            <span class="text">Ordenes</span>
          </div>
        </a>
  
        <div class="subtitle">
          <label>Informes</label>
        </div>
  
        <a (click)="goToReports()" class="icon-text-link">
          <div class="icon-text">
            <mat-icon class="icon">description</mat-icon>
            <span class="text">Reportes</span>
          </div>
        </a>
  
        <a (click)="goToDeposit()" class="icon-text-link">
          <div class="icon-text">
            <mat-icon class="icon">attach_money</mat-icon>
            <span class="text">Ingresos</span>
          </div>
        </a>
  
        <a (click)="goToWithdraw()" class="icon-text-link">
          <div class="icon-text">
            <mat-icon class="icon">account_balance_wallet</mat-icon>
            <span class="text">Retiros</span>
          </div>
        </a>
        
      </div>
    </div>
  </div>
  
    <div class="main-content">
        <nav class="navbar">
          <div class="menuButton" (click)="toggleSidebar()">
            <mat-icon class="menu-icon" >menu</mat-icon>
          </div>
          <div class="icon-container">
            <div class="circle" (click)="toggleDropdown()">
              <img src="https://via.placeholder.com/50" alt="Profile" class="profile-img">
              <span class="material-icons arrow-icon">keyboard_arrow_down</span>
            </div>
            <div class="dropdown-menu" *ngIf="menuVisible">
              <a href="#" class="menu-item">Configuración</a>
              <a href="#" class="menu-item-logout">Cerrar sesión</a>
            </div>
          </div>
        </nav>
    
        <div class="content">
          <!-- Main content here -->
        </div>
      </div>
</div>
  