
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px; 
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f4f4f5;
  }
  
  .sidebar-brand span {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  .sidebar-links {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    width: 100%;
  }
  
  .sidebar-links li {
    margin-bottom: 10px;
  }
  
  .sidebar-links li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-links li a:hover {
    background-color: #ffffff; 
  }
  
  .main-content {
    margin-left: 240px; 
  }
  
  /* Estilos para la barra de navegación */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding:20px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    border-bottom:1px solid #f4f4f5;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  
  .navbar-icons {
    display: flex;
    gap: 15px;
  }
  
  .navbar-icons .profile-icon,
  .navbar-icons .logout-icon {
    display: inline-block;
    cursor: pointer;
  }
  
  .navbar-icons .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ffffff;
    padding: 10px;
  }
  
  .mobile-menu.active {
    display: block;
  }
  
  .mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .mobile-menu ul li {
    margin-bottom: 10px;
  }
  
  .mobile-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .icon-text-link {
    display: block; 
    text-decoration: none; 
    color: inherit; 
    width: 100%;
    cursor: pointer; 
  }
  
  .icon-text {
    display: flex;
    margin-top: 5px;
    align-items: center;
    gap: 10px; 
    padding: 10px; 
    transition: background-color 0.3s ease; 
    width: 100%; 
  }

  .icon-text-link:hover .icon-text {
    background-color: #f0f0f0;
  }
  
  .icon {
    font-size: 24px; 
    color: #8e97a3; 
  }
  
  .text {
    font-size: 1rem;
    color: #333; 
    font-weight: 400; 
  }
  
  .icon-text-link:active .icon-text {
    background-color: #f0f0f0; 
  }
  
  .margin{
    height: 80px;
    
  }

  .subtitle{
    color: #8e97a3;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
  }

  .icon-container {
    position: relative;
  }
  
  .circle {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    padding: 10px;
    position: relative;
    cursor: pointer;
  }
  
  .profile-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .arrow-icon {
    font-size: 24px;
    color: #8e97a3;
    margin-left: 10px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    z-index: 10;
}
  
  .dropdown-menu.show {
    display: block;
  }
  
  .menu-item {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
  }

  .menu-item-logout{
    display: block;
    padding: 10px;
    color: #bd0b0b;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
  }
  
  .menu-item:last-child {
    border-bottom: none;
  }
  
  .menu-item:hover {
    background-color: #f0f0f0;
  }

  .menuButton{
    position: absolute;
    left: 35px;
    display: none;
    cursor: pointer;
  }



  @media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Ancho completo en dispositivos móviles */
        transform: translateX(-100%); /* Oculta el sidebar por defecto */
    }

    .sidebar.show {
        transform: translateX(0); /* Muestra el sidebar cuando tiene la clase show */
    }

    .main-content {
        margin-left: 0; /* Ajusta el margen para el contenido principal en dispositivos móviles */
    }

    .menu-icon {
        display: inline-block; /* Muestra el icono de menú en pantallas pequeñas */
    }

    .menuButton{
      position: absolute;
      left: 35px;
      display: block;
    }
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  pointer-events: auto;
}

.sidebar2 {
  position: fixed;
  top: 0;
  left: -90%; /* Oculto fuera de la pantalla */
  width: 80%;
  height: 100%;
  background-color: #fff;
  z-index: 10;
  transition: left 0.3s ease; /* Animación de deslizamiento */
}

/* Sidebar visible */
.sidebar2.show {
  left: 0; /* Desliza el sidebar a la vista */
}

/* Estilo para el contenido del sidebar */
.sidebar2-content {
  padding: 20px;
}
body.sidebar2-open {
  overflow: hidden; /* Desactiva el scroll del cuerpo */
}

@media (min-width: 375px) and (max-width: 425px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    pointer-events: auto;
    overflow: hidden;
  }
  .sidebar2 {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: -90%; /* Oculto fuera de la pantalla */
    width: 60%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    transition: left 0.3s ease; /* Animación de deslizamiento */
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .sidebar2 {
    position: fixed;
    top: 0;
    left: -90%; /* Oculto fuera de la pantalla */
    width: 40%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    transition: left 0.3s ease; /* Animación de deslizamiento */
  }
}