.content{
    margin-left: 250px;
    margin-top: 20px;
    width: fill;
    height: auto;
}

@media (max-width: 768px) {
    
    .content{
        margin-left: 0px;
        margin-top: 20px;
        width: fill;
        height: auto;
    }
  }