<div >
      <div class="contentTitle">
        <h2>Panel de control</h2>
      </div>
      <div class="contentCard">
        <app-card 
          [icon]="'shopping_bag'"
          [number]="'10'"
          [label]="'Órdenes actuales'"
          [iconColor]="'orange'"
          [isLoading]="isLoading">
        </app-card>
        <app-card 
          [icon]="'shopping_cart'"
          [number]="'13'"
          [label]="'Órdenes pendientes'"
          [iconColor]="'red'"
          [isLoading]="isLoading"
          >
        </app-card>
        <app-card 
          [icon]="'assignment_turned_in'"
          [number]="'130'"
          [label]="'Órdenes totales del día'"
          [iconColor]="'green'"
          [isLoading]="isLoading"
          >
        </app-card>
        <app-card 
          [icon]="'calendar_today'"
          [number]="'30'"
          [label]="'Órdenes totales del mes'"
          [iconColor]="'blue'"
          [isLoading]="isLoading"
          >
        </app-card>
        <app-card 
          [icon]="'attach_money'"
          [number]="'$ 10.000'"
          [label]="'Total generado del día'"
          [iconColor]="'purple'"
          [isLoading]="isLoading"
          >
        </app-card>
        <app-card 
          [icon]="'attach_money'"
          [number]="'$ 45.000'"
          [label]="'Total generado del mes'"
          [iconColor]="'darkblue'"
          [isLoading]="isLoading"
          >
        </app-card>
      </div>
      <div>
       
      </div>
</div>