/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root{
    --backgrounColor:#F8F9FA;
}

html, body { 
    height: 100%; 
    background-color: var(--backgrounColor); 
}
body { 
    margin: 0 !important; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
